@import url("modal.css");

@font-face{
    font-family: "Pretendard-Regular";
    src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

*{
    box-sizing: border-box;
    font-family: "Pretendard-Regular", sans-serif;
}

body, html{
    margin: 0;
    width: 100%;
}

body{
    background: #78d4b0;
}

.wrap{
    margin: 0 auto;
    padding: 32px 100px;
    text-align: center;
}

/* 스크롤바 트랙 (배경) */
::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track{
    background: #f1f1f1;
    border-radius: 12px;
}

::-webkit-scrollbar-thumb{
    background: #888;
    border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover{
    background: #555;
}