@import url("chat.css");
@import url("leaderboard.css");
@import url("modal.css");
@import url("quiz-board.css");
@import url("quiz-selector.css");

@font-face{
    font-family: "Pretendard-Regular";
    src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

*{
    font-family: "Pretendard-Regular", sans-serif;
}

body{
    background: #78d4b0;
}

.content-box{
    background: #fff;
    border-radius: .8rem;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.25);
}

.hidden{
    display: none !important;
}

/* 스크롤바 트랙 (배경) */
::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track{
    background: #f1f1f1;
    border-radius: 12px;
}

::-webkit-scrollbar-thumb{
    background: #888;
    border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover{
    background: #555;
}