.board-center{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chosung-list{
    display: flex;
    gap: 9px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.chosung-item{
    width: 72px;
    height: 72px;

    border-radius: 9px;
    border: 4px solid #5e8bff;

    color: #5e8bff;
    text-align: center;
    align-content: center;
    font-size: 2.6rem;
    font-weight: bold;

    user-select: none;           /* 표준 */
    -webkit-user-select: none;   /* 사파리 */
    -ms-user-select: none;       /* 예전 IE/Edge */
}