@import url("chat.css");
@import url("leaderboard.css");
@import url("quiz-board.css");
@import url("quiz-selector.css");

.content-box{
    background: #fff;
    border-radius: .8rem;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.25);
}