/* 리더보드 스타일 */
.leaderboard-container{
    padding: 10px;
    border-radius: 28px;
    background: #f5f5f5;
    box-shadow: 0 0 9px 1px #000;
}

.leaderboard-header{
    margin-bottom: 15px;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 10px;
}

.leaderboard-items-container{
    position: relative;
}

.leaderboard-item{
    display: flex;
    align-items: center;
    padding: 12px;
    background-color: rgba(50, 50, 50, 0.5);
    border-radius: 13px;
    position: absolute;
    width: 100%;
    height: 50px;

    top: 0;
    left: 0;
    transition: transform .8s ease-in-out;
}
.leaderboard-item.new-item{
    --y-pos: 0px;
    animation: new-item-animation .3s ease-out forwards;
}
.leaderboard-item:hover{
    background-color: rgba(70, 70, 70, 0.7);
}

.rank-number{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #444;
    color: #fff;
    font-weight: bold;
    margin-right: 15px;
    transition: background 1s ease, color 1s ease;
}

.rank-number.gold{
    background: linear-gradient(145deg, #ffd700, #ffb700);
    color: #333;
    box-shadow: 0 2px 5px rgba(255, 215, 0, 0.3);
}

.rank-number.silver{
    background: linear-gradient(145deg, #e0e0e0, #c0c0c0);
    color: #333;
    box-shadow: 0 2px 5px rgba(192, 192, 192, 0.3);
}

.rank-number.bronze{
    background: linear-gradient(145deg, #cd7f32, #a05a2c);
    color: #fff;
    box-shadow: 0 2px 5px rgba(205, 127, 50, 0.3);
}

.profile-image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin-right: 10px;
    background-color: #555;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.user-info{
    flex: 1;
    color: #fff;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 10px;
}

.score-background{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 13px;
    background: linear-gradient(90deg, rgba(92, 184, 92, 0.3), rgba(60, 157, 60, 0.5));
    z-index: 0;
    transition: width 0.5s ease-in-out;
}

.content-container{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1; /* 배경 위에 표시 */
}

.score-text{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-weight: bold;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
}

/* 새 항목용 애니메이션 (Y 위치 유지) */
@keyframes new-item-animation{
    from{
        opacity: 0;
        transform: translateX(20px) translateY(var(--y-pos));
    }
    to{
        opacity: 1;
        transform: translateY(var(--y-pos));
    }
}